@layer demo {
  :root {
    --accent: red;
  }
  .search {
    position: relative;
  }

  [type='search']::placeholder {
    opacity: 0.675;
  }

  #trigger {
      --intent: 0;
      height: 48px;
      width: 48px;
      display: grid;
      place-items: center;
      padding: 0;
      aspect-ratio: 1;
      cursor: pointer;
      border-radius: 12px;
      border: 0;
      background: color-mix(
          in lch,
          canvasText,
          #00000000 calc((100 - (var(--intent) * 5)) * 1%)
      );
  }
  

  [data-busy='true'],
  [aria-pressed='true'] {
    outline-color: transparent;
    outline-width: 0;
    background: transparent;
  }

  .magnifier {
    scale: 0.5;
    translate: 0 -5%;
    pointer-events: none;
    color: color-mix(in lch, canvasText, canvas 45%);
  }

  #trigger:is(:hover, :focus-visible) {
    --intent: 1;
  }

  .magnifier line {
    transform-box: fill-box;
    transform-origin: 50% 0%;
    transform: rotate(calc((-45 + (var(--intent) * 45)) * 1deg))
      translateY(100%);
    transition: transform 0.15s;
  }

  [data-handle='true'] .magnifier line {
    scale: calc(1 - var(--hide, 0));
  }

  #trigger svg {
    width: 40px;
    overflow: visible !important;
  }

  [type='search'] {
    --closed: 1;
    display: none;
    width: 218px;
    height: 38px;
    background: canvas;
    color: color-mix(in lch, canvasText, canvas);
    outline-color: transparent;
    border: 0;
    line-height: 1;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: calc(1 - var(--closed));
    translate: -50% -50%;
    clip-path: inset(
      0 calc((50% - 19px) * var(--closed)) 0 calc((50% - 19px) * var(--closed))
        round 100px
    );
  }

  [type='search']::-webkit-search-cancel-button {
    filter: brightness(0) opacity(0.5);
  }
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  transition: background-color 0.5s ease;
}

#weather {
  position: relative;
  text-align: center; 
  padding: 20px;
  background-color: #2C3E50;
  border-radius: 35px;
  width: 300px;
  height: 90px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: background-color 1s ease;
}

#weather.expanded {
  height: 566px;
  width: 350px;
}

.search {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}


#convertButton {
  display: none;
  margin-top: 450px;
  padding: 10px;
  background-color: #2C3E50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

#convertButton:hover {
  background-color: #2C3E50;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: absolute;
  gap: 10px;
  padding: 10px;
  position: relative;
}

#weather.expanded #result {
  opacity: 1;
}

.temperature {
  position: absolute;
  top: 32px;
  right: 8px;
  font-size: 2em; 
  color: #000000; 
}

#humidity {
  position: absolute;
  top: 150px;
  left: 28px;
  font-size: 1em;
  color: #000000;
}

#cityName {
  position: absolute;
  top: 120px;
  left: 28px;
  font-size: 1em; 
  color: #000000; 
}

#description {
  position: absolute;
  top: 120px;
  right: 28px;
  font-size: 1em;
  color: #000;
}

#themeToggle {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  color: #2C3E50;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  font-size: 1.5em;
  transition: color 0.3s;
}

.dark-theme {
  background-color: #2C3E50;
}

.dark-theme #themeToggle {
  color: white;
}

.dark-theme #themeToggle::before {
  content: '\f186';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

#themeToggle::before {
  content: '\f185';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

.dark-theme #weather {
  background-color: #ffffff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
