@layer demo {
  :root {
    --accent: red;
    --magnifier-color: #01224d;
  }
  .search {
    position: relative;
  }

  [type='search']::placeholder {
    opacity: 0.675;
  }

  #trigger {
      --intent: 0;
      height: 48px;
      width: 48px;
      display: grid;
      place-items: center;
      padding: 0;
      aspect-ratio: 1;
      cursor: pointer;
      border-radius: 12px;
      border: 0;
      background: color-mix(
          in lch,
          canvasText,
          #00000000 calc((100 - (var(--intent) * 5)) * 1%)
      );
  }
  

  [data-busy='true'],
  [aria-pressed='true'] {
    outline-color: transparent;
    outline-width: 0;
    background: transparent;
  }

  .magnifier {
    scale: 0.5;
    translate: 0 -5%;
    pointer-events: none;
    color: var(--magnifier-color); /* Aplica a nova cor */
  }

  #trigger:is(:hover, :focus-visible) {
    --intent: 1;
  }

  .magnifier line {
    transform-box: fill-box;
    transform-origin: 50% 0%;
    transform: rotate(calc((-45 + (var(--intent) * 45)) * 1deg))
      translateY(100%);
    transition: transform 0.15s;
  }

  [data-handle='true'] .magnifier line {
    scale: calc(1 - var(--hide, 0));
  }

  #trigger svg {
    width: 40px;
    overflow: visible !important;
  }

  [type='search'] {
    --closed: 1;
    display: none;
    width: 218px;
    height: 38px;
    background: canvas;
    color: color-mix(in lch, canvasText, canvas);
    outline-color: transparent;
    border: 0;
    line-height: 1;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: calc(1 - var(--closed));
    translate: -50% -50%;
    clip-path: inset(
      0 calc((50% - 19px) * var(--closed)) 0 calc((50% - 19px) * var(--closed))
        round 100px
    );
  }

  [type='search']::-webkit-search-cancel-button {
    filter: brightness(0) opacity(0.5);
  }
}

*, *:after, *:before {
  box-sizing: border-box;
}

@keyframes scrollIn {
  0% {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
}
100% {
    height: 566px;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 1;
}

}

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #5a5a6d 20%, #232335 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move_wave 3s;
 -webkit-animation: move_wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #27273c;
  overflow: hidden;
}

#weather {
  position: relative;
  text-align: center;
  padding: 20px;
  background: linear-gradient(120deg, #6895d8 20%, #a6b4e4 60%, #5447a5 100%);
  border-radius: 35px;
  width: 300px;
  height: 90px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transform-origin: top;
  z-index: 100;
}

#weather.expanded {
  animation: scrollIn 0.6s ease-out;
  height: 566px;
  width: 350px;
}

.search {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
}

#weather.expanded #result {
  opacity: 1;
}

#city-container {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#cityName {
  font-size: 1.2em; 
  background: linear-gradient(to right, #01224d, #3b3f95, #01224d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  margin-left: 5px;
}

#cityIcon {
  font-size: 18px;
  color: #01224d;
  margin-right: 5px;
  display: none; 
}

#description-container {
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
}

#description {
  font-size: 1.2em; 
  background: linear-gradient(to right, #00122a, #333679, #001531);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.temperature {
  position: absolute;
  top: 1%;
  left: 55%;
  transform: translateX(-50%);
  font-size: 9em; 
  background: linear-gradient(to right, #0a3a78, #01224d, #07346f, #393ea9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 90%;
  height: 125px;
  line-height: 1em;
  font-weight: bold;
}


#convertButton {
  display: none;
  margin-top: 300px;
  padding: 10px;
  background-color: #2C3E50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

#convertButton:hover {
  background-color: #2C3E50;
}

#card {
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 80px;
  background: rgba(255, 255, 255, 0.3); 
  border-radius: 100px; 
  backdrop-filter: blur(5px); 
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#weatherInfo {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.weatherItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
}

.weatherItem i {
  font-size: 24px;
  color: #061c3a;
  margin-bottom: 5px;
}

#humidity, #windSpeed, #precipitation {
  font-size: 1em; 
  background: linear-gradient(to right, #001734, #01295a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#humidity:last-child {
  margin-right: 0;
}
